.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
    width: 100%;
    position: relative;
}

.image-skeleton {
    aspect-ratio: 1;
}

.label-skeleton {
    height: var(--spacing-lg);
}
