.skeleton {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: var(--width, 100%);
    height: var(--height, 100%);
    background: #f5f5f5;
    border-radius: 5px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;

        background: linear-gradient(
            to right,
            transparent 0%,
            rgba(0, 0, 0, 0.05) 50%,
            transparent 100%
        );

        animation: loading ease 1s infinite forwards;
    }
}

@keyframes loading {
    from {
        transform: translateX(-125%);
    }
    to {
        transform: translateX(125%);
    }
}
