.container {
    all: unset;
    cursor: pointer;
}

.container:disabled {
    pointer-events: none;
}

.container:hover,
.container:active {
    background-color: transparent;
}

.container > svg {
    display: inline-block;
    border-radius: 100vw;
    border: 2px solid var(--color-default-dark);
    vertical-align: middle;
}

.container:disabled > svg {
    border-color: var(--color-default-light);
    fill: var(--color-default-light);
}

.container:hover > svg,
.container:focus > svg {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);
    fill: white;
}

.container:active > svg {
    background-color: var(--color-primary);
}

.arrow-left {
    grid-area: arrow-left;
}

.arrow-right {
    grid-area: arrow-right;
}
