.container {
    margin-bottom: var(--spacing-xl);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
}

.search {
    width: 100%;
}

.sorting {
    width: 100%;
}

@media only screen and (min-width: 641px) {
    .search {
        width: 400px;
    }

    .sorting {
        width: 300px;
    }
}

.products {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: var(--spacing-md);
    padding: 0;
    margin-bottom: var(--spacing-lg);
}

@media only screen and (min-width: 641px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
}
